<!DOCTYPE html>
<html>
<head>
    <title>Big Pipe Demo2</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/loading.css">
</head>
<body>
    <main>
        <div id="pagelet_navigation" class="b-section">
            <div class="loader"></div>
        </div>
        <div id="pagelet_main" class="b-section">
            <div class="loader"></div>
        </div>
    </main>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/jquery.pjax.js"></script>
    <script src="javascripts/bigpipe.js"></script>
    <script src="javascripts/index.js"></script>